@model Final.Models.productos

@{ 
    ViewBag.Title = "Crear Producto";
}

<h1>Crear producto</h1>

<form method="post">

    <div>
        <label asp-for="nombre"></label>
        <input asp-for="nombre" />
        <span asp-validation-for="nombre"></span>
    </div>
    <div>
        <label asp-for="detalle"></label>
        <input asp-for="detalle" />
        <span asp-validation-for="detalle"></span>
    </div>
    <div>
        <label asp-for="cantidad"></label>
        <input asp-for="cantidad" />
        <span asp-validation-for="cantidad"></span>
    </div>
    <div>
        <label asp-for="precios"></label>
        <input asp-for="precios" />
        <span asp-validation-for="precios"></span>
    </div>
    <input type="submit" name="save" value="Save" />
</form>