@model Final.Models.Cliente

@{

}

<style>
    body {
        background-image: url("/img/w.jpg");
</style>

<br /><br><br /><br /><br />

                      <div class="text-center">
                          <div style="width:35%; margin-left: 32%">
                              <h1>Detalles del cliente</h1>

                              <div>

                              </div>
                              <div>

                              </div>
                              <div>

                              </div>

                              <a asp-action="Clientes" asp-controller="Home">Clientes</a>
                          </div>
                      </div>