@model Final.Models.productos

@{ 
    ViewBag.Title = Model.nombre;
}

<h1>@Model.nombre</h1>

<div>
    @Model.detalle
</div>
<div>
    @Model.cantidad
</div>
<div>
    @Model.precios
</div>

<a asp-action="Inventario" asp-controller="Home">Inventario</a>